.Form-Container{
    background-color:#a7bcff ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .Form-Wrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .logo{
            color: #7745FF;
            font-weight: bold;
            font-size: 24px;
        }
        .title{
            color: #7745FF;
            font-weight: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom:1px solid #7745FF ;
            
            &::placeholder{
                font-size: 15px;
                color: grey
            }
            }
            button{
                background-color: #7745FF;
                color: white;
                padding: 10px;
                font-size: 14px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
        label{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 15px;
            color: #7745FF;
            cursor: pointer;
            img{
                width: 38px;
                padding-left: 38px;
            }
        }
        
        }
        p{
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}
